* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: rgba(46, 47, 66, 1);
  list-style-type: none;
}
body {
  font-family: "Roboto", sans-serif;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 24px 15px; /* header 24 px vermek gerekmez mi?*/
}
.container-header {
  display: flex;
  gap: 332px; /* 332px? */
}
.nav-menu {
  display: flex;
  align-items: center;
}
.logo-right {
  margin-right: 76px;
}
.ul-items {
  display: flex;
  gap: 40px;
}
.nav-item {
  padding: 24px 0;
}

.header-address {
  display: flex;
  gap: 40px;
}
